<div class="conteudo">

    <app-lista 
    *ngFor="let listaComAtividades of listasComAtividades" 
    [listaComAtividades]="listaComAtividades" 
    (eventoMoverAtividade)="moverAtividade($event)" 
    (eventoRemoverLista)="removerLista($event)">
    </app-lista>

    <div class="colunas">
        <ul class="lista">
            <li class="titulo-lista">
                <button class="botao verde" (click)="adicionarLista()">
                    <i class="fa fa-plus"></i>Adicionar Lista
                </button>
            </li>
        </ul>
    </div>
</div>

<app-caixa-modal 
(eventoSubmeterFormulario)="gerenciarListas($event)">
</app-caixa-modal>

<app-confirmacao-modal 
(eventoEscolherOpcao)="escolherOpcao($event)" 
[listasComAtividades]="listasComAtividades">
</app-confirmacao-modal>

<app-caixa-toast></app-caixa-toast>