li {
    border-bottom: 10px solid #eee;
    padding: 20px;
    text-align: center;
}

li .icone-excluir {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

li .icone-excluir:hover {
    color: red;
}

.drag-border {
    border: #ff525b dashed 2px !important;
}

.drag-handle {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.drag-transit {
    border: #3500FF dashed 2px !important;
}