.linha {
  margin: 0 -5px;
}

.linha:after {
  content: "";
  display: table;
  clear: both;
}

span {
  font-size: 16px;
}

span i {
  padding: 50px 16px;
}

.cartao {
  outline-style: dashed;
  cursor: pointer;
}