<div class="coluna">
  <div class="cartao">

    <h3 class="titulo-quadro">{{quadro.nome}}</h3>

    <div class="informacao">
      <a [routerLink]="['/quadro-detalhe', quadro.id]">
        <button class="acoes verde">
          <i class="fa fa-eye"></i>
        </button>
      </a>
      <span class="informacao-texto">Ver Quadro</span>
    </div>

    <div class="informacao">
      <button (click)="editarQuadro()" class="acoes azul">
        <i class="fa fa-pencil"></i>
      </button>
      <span class="informacao-texto">Renomear Quadro</span>
    </div>

    <div class="informacao">
      <button (click)="removerQuadro()" class="acoes vermelho">
        <i class="fa fa-trash"></i>
      </button>
      <span class="informacao-texto">Deletar Quadro</span>
    </div>
    
  </div>
</div>