.colunas {
    border: #111 solid 1px;
    margin: 2px;
}

.lista .cinza {
    padding: 5px;
    background-color: #eee;
    font-size: 20px;
}

.drag-hint-border {
    border: #3c763d dashed 2px !important;
}

.drag-over-border {
    border: #fbbc05 dashed 2px !important;
}

