<div class="colunas" droppable (onDrop)="moverAtividade($event)" [dropScope]="movimentoHabilitado">
  <ul class="lista">

    <li class="titulo-lista">{{listaComAtividades.lista.nome}}</li>

    <app-atividade *ngFor="let atividade of listaComAtividades.atividades" [atividade]="atividade" (eventoRemoverAtividade)="removerAtividade($event)"></app-atividade>

    <li class="cinza">
      <button class="botao verde" (click)="adicionarAtividade()">
        <i class="fa fa-plus icone"></i>Adicionar Atividade
      </button>
    </li>

    <li class="cinza">
      <button class="botao vermelho" (click)="removerLista()">
        <i class="fa fa-trash icone"></i>Remover Lista
      </button>
    </li>

  </ul>
</div>