li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

li .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
li .closebtn:hover {
    color: red;
}