<div class="modal" #modal>

  <form class="modal-conteudo animacao" [formGroup]="formulario" (ngSubmit)="submeterFormulario()">
    <div class="caixa">
      <span (click)="fecharModal()" class="icone-fechar" title="Close Modal">&times;</span>
    </div>

    <div class="conteudo">
      <label for="nome"><b>Nome {{dados?.componente}}:</b></label>
      <input class="formulario-input" type="text" placeholder="Digite nome:" name="nome" formControlName="nome" required>

      <div *ngIf="this.formulario.get('descricao')">
        <label for="descricao"><b>Descricao {{dados?.componente}}:</b></label>
        <textarea class="formulario-input" rows="4" placeholder="Digite descricao:" name="descricao" formControlName="descricao"></textarea>
      </div>
      <button class="botao verde" [disabled]="!formulario.valid" type="submit">Criar Quadro</button>
    </div>

  </form>
</div>