textarea.formulario-input {
    resize: vertical;
}

.botao {
    margin: 8px 0;
}

.botao:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.caixa {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.conteudo {
    padding: 16px;
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
}

.icone-fechar {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.icone-fechar:hover, .icone-fechar:focus {
    color: red;
    cursor: pointer;
}

.animacao {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}