.modal-conteudo {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.icone-fechar {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.icone-fechar:hover, .icone-fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-cabecalho {
    padding: 2px 16px;
    color: white;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 10px; 
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.botao{
    margin-bottom: 8px;
}

.modal-corpo {
    padding: 2px 16px;
}

.modal-rodape {
    padding: 15px 16px;
    color: white;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}